<!DOCTYPE html>
<html lang="en" ng-app="zips">

<head>
     <meta charset="UTF-8">
     <title>ZipMap</title>
     <meta name="description" content="A leaflet.js sample app">
     <link rel="stylesheet" href="leaflet/leaflet.css">
     <link rel="stylesheet" href="css/main.css">

     <script type="text/javascript" src="res/angular/angular.min.js"></script>
     <script type="text/javascript" src="leaflet/leaflet.js"></script>
     <script type="text/javascript" src="res/angular-leaflet-directive.js"></script>

</head>

<body ng-controller="GeoJSONController">
  <h1>Leaflet Test</h1>
  <form id="zipForm" ng-submit="submit()">
    Zipcode:
    <input id="zip" type="text" numbers-only limit-to="5" ng-model="zip">
    <input type="button" ng-click="getZipData(zip)" value="Go" />
  </form>

  <leaflet lf-center="center" width="100%" height="580px"></leaflet>

<script type="text/javascript" src="js/map_view.js"></script>
</body>
</html>
