<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title>PeterMap</title>
     <meta name="description" content="A leaflet.js sample app">
     <link rel="stylesheet" href="leaflet/leaflet.css">
     <link rel="stylesheet" href="css/main.css">
     <!-- Objectives:
          * Satellite Map
          * Search by Zipcode
          * Highlight zipcode
          * Pins for record locations
        -->
     <!-- <link rel="stylesheet" href="PATH"> -->

</head>

<body>
  <h1>Leaflet Test</h1>

  <div id="mapId"></div>


<script type="text/javascript" src="res/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="res/angular/angular.min.js"></script>
<script type="text/javascript" src="leaflet/leaflet.js"></script>
<!-- My JS -->
<script type="text/javascript" src="js/map_view.js"></script>
</body>
</html>
